<!--banner-->

<div class="jf_homepage_autoplay">


    <div class="jf_autoplay_images jf_autoplay_init">

        <a>
            <img src="../../images/banner_test_1.jpg">
        </a>

        <a>
            <img src="../../images/banner_test_2.jpg">
        </a>

        <a>
            <img src="../../images/banner_test_3.jpg">
        </a>

        <a>
            <img src="../../images/banner_test_4.jpg">
        </a>

    </div>

    <div class="jf_pagination">

    </div>

</div>


<!--入口-->
<!--入口-->
<div>
<!--绿色模块-->
    <div class="entrance">
        <div class="green"></div>
        <div>
            <img src="../../images/entrance1.jpg">
        </div>
        <a class="green_go" href="#">
            <span><img src="../../images/entrance_green_icon.png"/></span>
            <span>汇卡宝自营</span>
            <span>
                <span class="entrance_text">点击进入</span>
                <span class="entrance_button green"></span>
            </span>
        </a>
    </div>
<!--蓝色模块-->
    <div class="entrance">
        <div class="blue"></div>
        <div>
            <img src="../../images/entrance2.jpg">
        </div>
        <a class="blue_go" href="#">
            <span><img src="../../images/entrance_blue_icon.png"/></span>
            <span>盒马生鲜</span>
            <span>
                <span class="entrance_text">立即下单</span>
                <span class="entrance_button blue"></span>
            </span>
        </a>
    </div>
<!--橘色模块-->
    <div class="entrance">
        <div class="orange"></div>
        <div>
            <img src="../../images/entrance3.jpg">
        </div>
        <a class="orange_go" href="#">
            <span><img src="../../images/entrance_orange_icon.png"/></span>
            <span>家乐宝生鲜</span>
            <span>
                <span class="entrance_text">立即下单</span>
                <span class="entrance_button orange"></span>
            </span>
        </a>
    </div>
<!--紫色模块-->
    <div class="entrance">
        <div class="purple"></div>
        <div>
            <img src="../../images/entrance4.jpg">
        </div>
        <a class="purple_go" href="#">
            <span><img src="../../images/entrance_purple_icon.png"/></span>
            <span>海易通</span>
            <span>
                <span class="entrance_text">点击进入</span>
                <span class="entrance_button purple"></span>
            </span>
        </a>
    </div>




</div>


<script>

    jfAutoPlay.jfCarouselInit();

</script>
