<!--banner-->

<div class="jf_homepage_autoplay">


    <div class="jf_autoplay_images jf_autoplay_init">

        <a>
            <img src="../../images/banner_test_1.jpg">
        </a>

        <a>
            <img src="../../images/banner_test_2.jpg">
        </a>

        <a>
            <img src="../../images/banner_test_3.jpg">
        </a>

        <a>
            <img src="../../images/banner_test_4.jpg">
        </a>

    </div>

    <div class="jf_pagination">

    </div>

</div>

<!-- -->
<div class="mall_tips"><img src="../../images/mall_notice.png">【温馨提示】通过汇卡宝在家乐宝商城购买物品不可退货~</div>
<!--入口-->
<!--入口-->
<div>

    <div class="entrance">
        <div class="green"></div>
        <div>
            <img src="../../images/entrance1.jpg">
        </div>
        <a class="green_go" href="#">
            <span><img src="../../images/entrance_green_icon.png"></span>
            <span>汇卡宝自营</span>
            <span>点击进入</span>
        </a>
    </div>


    <div class="entrance">
        <div class="orange"></div>
        <div>
            <img src="../../images/entrance2.jpg">
        </div>
        <a class="orange_go" href="#">
            <span><img src="../../images/entrance_orange_icon.png"></span>
            <span>家乐宝生鲜</span>
            <span>立即下单</span>
        </a>
    </div>

    <div class="entrance">
        <div class="purple"></div>
        <div>
            <img src="../../images/entrance1.jpg">
        </div>
        <a class="purple_go" href="#">
            <span><img src="../../images/entrance_purple_icon.png"></span>
            <span>汇卡宝自营</span>
            <span>点击进入</span>
        </a>
    </div>


    <div class="entrance">
        <div class="blue"></div>
        <div>
            <img src="../../images/entrance2.jpg">
        </div>
        <a class="blue_go" href="#">
            <span><img src="../../images/entrance_blue_icon.png"></span>
            <span>家乐宝生鲜</span>
            <span>立即下单</span>
        </a>
    </div>


</div>


<script>

    jfAutoPlay.jfCarouselInit();

</script>
