<div class="order-details">
    <!--1-->
    <div class="list1">
        <div class="pic"><img src="../../images/hkb_logo.png"></div>
        <div class="price">
            <div>测试商品测试商品测试商品</div>
            <div>支付完成</div>
        </div>
        <div class="time">
            <div>￥16816165.00</div>
            <div>2016-08-04 13:44:55</div>
        </div>
    </div>
    <!--2-->
    <div class="list1">
        <div class="pic"><img src="../../images/zfb.png"></div>
        <div class="price">
            <div>测试商品</div>
            <div>支付完成</div>
        </div>
        <div class="time">
            <div>￥168.00</div>
            <div>2016-08-04 13:44:55</div>
        </div>
    </div>
    <!--3-->
    <div class="list1">
        <div class="pic"><img src="../../images/jd.png"></div>
        <div class="price">
            <div>测试商品</div>
            <div>支付完成</div>
        </div>
        <div class="time">
            <div>￥168.00</div>
            <div>2016-08-04 13:44:55</div>
        </div>
    </div>
    <!--4-->
    <div class="list1">
        <div class="pic"><img src="../../images/dianping.png"></div>
        <div class="price">
            <div>测试商品</div>
            <div>支付完成</div>
        </div>
        <div class="time">
            <div>￥168.00</div>
            <div>2016-08-04 13:44:55</div>
        </div>
    </div>
    <!--5-->
    <div class="list1">
        <div class="pic"><img src="../../images/hkb_logo.png"></div>
        <div class="price">
            <div>测试商品</div>
            <div>支付完成</div>
        </div>
        <div class="time">
            <div>￥168.00</div>
            <div>2016-08-04 13:44:55</div>
        </div>
    </div>
    <!--6-->
    <div class="list1">
        <div class="pic"><img src="../../images/dianping.png"></div>
        <div class="price">
            <div>测试商品</div>
            <div>支付完成</div>
        </div>
        <div class="time">
            <div>￥168.00</div>
            <div>2016-08-04 13:44:55</div>
        </div>
    </div>
    <!--7-->
    <div class="list1">
        <div class="pic"><img src="../../images/zfb.png"></div>
        <div class="price">
            <div>测试商品</div>
            <div>支付完成</div>
        </div>
        <div class="time">
            <div>￥168.00</div>
            <div>2016-08-04 13:44:55</div>
        </div>
    </div>
    <!--8-->
    <div class="list1">
        <div class="pic"><img src="../../images/jd.png"></div>
        <div class="price">
            <div>测试商品</div>
            <div>支付完成</div>
        </div>
        <div class="time">
            <div>￥168.00</div>
            <div>2016-08-04 13:44:55</div>
        </div>
    </div>
    <!---->
</div>